.footer__container{
  box-sizing: border-box;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3c1361;
  padding: 0 6rem;
  height: 5vh;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer__personal{
  display: flex;
  align-items: center;
  gap: 3.125rem;
}

.footer__personal__name{
  border-right: solid white 1px;
  padding-right: 3.125rem;
  font-weight: 800;
  font-size: 1.5rem;
}

.footer__personal__profession{
  font-weight: 200;
  font-size: 1.2rem;
}


.footer__media__list{
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3.125rem;
  list-style: none;
}

.footer__media__list img{
  width: 2.5rem;
  filter: invert(100%);
  transition: .3s;
}

#portfolio__image{
  filter: none;
  border: solid gainsboro 1px;
  border-radius: 999px;
}

.footer__media__list img:hover{
margin-top: -1.5rem;
}

@media screen and (max-width: 1000px){
  .footer__container{
    display: none;
  }
}