.score__background{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0,0.7);
  backdrop-filter: blur(2pxpx);


  display: none;
  align-items: center;
  justify-content: center;
}

.score__container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  width: 60vw;
  height: 80vh;
  background: #3c1361;
  border-radius: 10px;

  font-family: 'Press Start 2P', cursive;
}

.score__title{
  color: white;
  font-size: 6rem;
  text-transform: uppercase;

  -webkit-text-fill-color: red;
  -webkit-text-stroke: 1px;

  text-shadow: rgba(255,255,255,0.5) 0px 0px 10px;
}

.score__info{
  display: flex;
  justify-content: space-around;
  font-size: 2rem;

  color: yellow;
}

.list__position li{
  color: #136115;
  margin-top: 2rem;
  margin-left: 8rem;
  list-style-type: decimal;
}

.list__score li{
  color: whitesmoke;
  margin-top: 2rem;
}

.list__date li{
  color: yellow;
  margin-top: 2rem;
}

.try-again__button{
  justify-self: end;
  max-width: 30rem;
  margin: 0 auto;

  background-color: yellow;
  border-radius: 5px;
  padding: .5rem 3rem;


  color: black;
  font-size: 1.5rem;
  text-transform: uppercase;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px;


  position: relative;
  text-align: center;
}