body{
  color: white;
  background-color: #140621;
  text-align: center;
}

.main__container{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
  gap: 5rem;
  align-items: center;
  justify-content: center;
  
  margin: 0 auto;
  min-width: 30vw;
  max-width: 90vw;
  height: 95vh;
}

.word{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.time{
  font-size: 10rem;
  text-align: center;
}

.time__warning{
  position: absolute;
  display: none;
  color: black;
  box-sizing: border-box;
  width: 10rem;
  height: 5rem;
  font-size: 1rem;
}

.time__warning--active{
  display: block;
  color: red;
  font-size: 2rem;
  transition: .5s ease-in-out;
}



.start__button{
  box-sizing: border-box;
  height: 15rem;
  width: 15rem;

  cursor: pointer;
  
  transition: 0.3s ease-in-out;
}

.start__button--score{
  position: absolute;
  bottom: 7%;
  z-index: 10;
  width: 8rem;
}

.start__button--score::after{
  content: 'TRY AGAIN';
  font-size: 1.3rem;
  color: #136115;
  font-weight: 900;
  stroke: white;
}

.word{
  font-size: 8rem;
}

.points{
  color: #136115;
  font-weight: 600;
  border-bottom: solid #136115 1px;
  font-size: 2rem;
}





