body{
  color: white;
  background-color: #140621;
  text-align: center;
}

.main__container{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
  gap: 5rem;
  align-items: center;
  justify-content: center;
  
  margin: 0 auto;
  min-width: 30vw;
  max-width: 90vw;
  height: 95vh;

  font-family: 'Bangers', cursive;
}

.word{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.time{
  font-size: 13rem;
  text-align: center;
}

.time__warning{
  position: absolute;
  display: none;
  color: black;
  box-sizing: border-box;
  max-width: 30rem;
  height: 5rem;
  font-size: 2rem;
}

.time__warning--active{
  display: block;
  color: red;
  font-size: 3rem;
  transition: .5s ease-in-out;
}



.start__button{
  box-sizing: border-box;
  height: 15rem;
  width: 15rem;

  cursor: pointer;
  
  transition: 0.3s ease-in-out;
}

.word{
  font-size: 13rem;
}

.points{
  color: #136115;
  font-weight: 600;
  border-bottom: solid #136115 1px;
  font-size: 2rem;

/*   font-family: 'Press Start 2P', cursive; */
}





