body{
  text-align: center;
  color: white;
  background-color: black;
  height: 100vh;
}

main{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 30rem;
  max-width: 90vw;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 5rem;

}

.word{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}


.time{
  font-size: 10rem;
  text-align: center;
}

.start__button{
  font-size: 3rem;
  padding: .3rem 1rem;
  border: solid white 1px;
  border-radius: 20px;
  background-color: gray;
  transition: 0.3s;
}

.word{
  font-size: 8rem;
}

.points{
  font-size: 2rem;
}