body{
  color: white;
  background-color: black;
  height: 100vh;
  text-align: center;
}

.main__container{
  display: flex;
  flex-direction: column;
  
  gap: 5rem;
  align-items: center;
  justify-content: center;
  
  margin: 0 auto;
  min-width: 30vw;
  max-width: 90vw;
  height: 100vh;
}

.word{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.time{
  font-size: 10rem;
  text-align: center;
}

.time__warning{
  position: absolute;
  display: none;
  color: black;
  box-sizing: border-box;
  width: 10rem;
  height: 5rem;
  font-size: 1rem;
}

.time__warning--active{
  display: block;
  color: red;
  font-size: 2rem;
  transition: .5s ease-in-out;
}



.start__button{
  font-size: 3rem;
  padding: .3rem 1rem;
  border: solid white 1px;
  border-radius: 20px;
  background-color: gray;
  transition: 0.3s;
}

.word{
  font-size: 8rem;
}

.points{
  font-size: 2rem;
}